<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Info List</h1>
    <a href="http://127.0.0.1:8000/info/add/">ADD</a>
    <table border="1">
        <thead>
            <tr>
                <td>ID</td>
                <td>Name</td>
                <td>Password</td>
                <td>age</td>
            </tr>
        </thead>
        <tbody>
            <!--  deta_list数据来自于views  设置数据库在model-->
            {% for obj in data_list %}
            <tr>
                <td>{{obj.id}}</td>
                <td>{{obj.name}}</td>
                <td>{{obj.password}}</td>
                <td>{{obj.age}}</td>
                <td><a href="http://127.0.0.1:8000/info/delete/?nid={{obj.id}}">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody> 
    </table>
   
</body>

</html>