{% extends 'layout.html' %}

{% block content %}
<div class="container">
    <div style="margin-bottom: 10px">
        <a class="btn btn-success" href="/user/add/">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
            Add user
        </a>

        <a class="btn btn-success" href="/user/model/form/add/">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
            Add User ModelForm
        </a>
    </div>
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
            User List
        </div>

        <!-- Table -->
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Password</th>
                    <th>Age</th>
                    <th>Balance</th>
                    <th>Hiredate</th>
                    <th>Gender</th>
                    <th>Department</th>
                    <th>Operation</th>
                </tr>
            </thead>
            <tbody>
                {% for obj in queryset %}
                <tr>
                    <td>{{ obj.id }}</td>
                    <td>{{ obj.name }}</td>
                    <td>{{ obj.password }}</td>
                    <td>{{ obj.age }}</td>
                    <td>{{ obj.balance }}</td>
                    <td>{{ obj.hiredate }}</td>
                    <td>{{ obj.get_gender_display }}</td>
                    <td>{{ obj.depart.title }}</td>
                    <td>
                        <a class="btn btn-primary btn-xs" href="#">Edit</a>
                        <a class="btn btn-danger btn-xs" href="#">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}